<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>isOn</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>autoOn</string>
		<key>Title</key>
		<string>Activate Nightlight Automatically</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>22:00</string>
		<key>Key</key>
		<string>onTime</string>
		<key>MaximumValue</key>
		<integer>2399</integer>
		<key>Title</key>
		<string>Turn on at</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>8:00</string>
		<key>Key</key>
		<string>offTime</string>
		<key>Title</key>
		<string>Turn off at</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>netflix.com,youtube.com</string>
		<key>Key</key>
		<string>blacklist</string>
		<key>Title</key>
		<string>Blacklist</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>aggressiveList</string>
		<key>Title</key>
		<string>Aggressive</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>darkenImages</string>
		<key>Title</key>
		<string>Darken Images</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
